@import url("https://fonts.googleapis.com/css2?family=Germania+One&display=swap");
/*  font-family: "Germania One", system-ui; */
* {
  margin: 0;
  padding: 0;
}

main {
  background-image: url(../medios/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5vw;
  color: white;
  text-align: center;
  font-family: "Germania One", system-ui;
}

h1 {
  font-size: clamp(2rem, 8vw, 8rem);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 4rem);
}

p {
  font-size: clamp(1rem, 2vw, 2rem);
}

header {
  background-color: black;
}
header .logo {
  height: 100%;
  width: auto;
  max-height: 70px;
}
header .nav-link {
  color: white;
  font-family: "Germania One";
  font-size: 2rem;
}
header .navbar .navbar-nav .nav-link:hover {
  background-color: gray;
}

footer {
  background-image: url(../medios/footer.jpg);
  height: 10vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
footer .whatsapp {
  height: 5vw;
  width: 5vw;
}
footer footer a {
  color: white;
  list-style: none;
  text-decoration: none;
  font-family: "Germania One", system-ui;
  font-size: clamp(1rem, 2vw, 2rem);
}

.vikingos {
  max-width: 100%;
  height: auto;
}

.dioses {
  display: grid;
  grid-template-areas: "imagendioses imagendioses" "titulodioses titulodioses" "odincard freyacard" "thorcard lokicard";
  grid-template-columns: 50% 50%;
  gap: 50px;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.imagendioses {
  grid-area: imagendioses;
  width: 80%;
  display: block;
  justify-self: center;
}

.titulodioses {
  grid-area: titulodioses;
  text-align: center;
}

.odincard {
  grid-area: odincard;
}

.freyacard {
  grid-area: freyacard;
}

.odincard {
  grid-area: odincard;
}

.lokicard {
  grid-area: lokicard;
}

.odincard,
.freyacard,
.thorcard,
.lokicard {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.card-body {
  background-color: black;
  color: white;
}

#carouselExampleIndicators {
  height: 75%;
  width: 75%;
  display: block;
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 15px;
}
#carouselExampleIndicators .carousel-item img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.Guerrastexto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: start;
}
.Guerrastexto .guerrastexto1,
.Guerrastexto .guerrastexto2,
.Guerrastexto .guerrastexto3 {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid white;
}

.mainseries {
  display: grid;
  grid-template-areas: "tituloseries tituloseries" "tituloragnar tituloragnar" "textoragnar textoragnar" "ragnar ragnar2" "ragnar ragnar3" "titulolk titulolk" "textolk textolk" "imagenlk videolk" "imagenlk videolk2";
  grid-template-columns: 60% 40%;
  gap: 30px;
  align-content: center;
  justify-content: center;
}
.mainseries .tituloseries {
  grid-area: tituloseries;
  padding-bottom: 20px;
}
.mainseries .tituloragnar {
  grid-area: tituloragnar;
}
.mainseries .textoragnar {
  grid-area: textoragnar;
}
.mainseries .ragnar {
  grid-area: ragnar;
  width: 100%;
  height: auto;
}
.mainseries .ragnar2 {
  grid-area: ragnar2;
  align-self: center;
}
.mainseries .ragnar3 {
  grid-area: ragnar3;
  align-self: center;
}
.mainseries .titulolk {
  grid-area: titulolk;
}
.mainseries .textolk {
  grid-area: textolk;
}
.mainseries .imagenlk {
  grid-area: imagenlk;
  width: 100%;
  height: auto;
}
.mainseries .videolk {
  grid-area: videolk;
  align-self: center;
}
.mainseries .videolk2 {
  grid-area: videolk2;
  align-self: center;
}
.mainseries .videoyoutube {
  position: relative;
  width: 100%;
  padding-bottom: 70%;
}
.mainseries .videoyoutube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 480px) {
  .dioses {
    grid-template-areas: "titulodioses" "odincard" "freyacard" "thorcard" "lokicard";
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .imagendioses {
    display: none;
  }
  #carouselExampleIndicators {
    width: 100%;
  }
  #carouselExampleIndicators .carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
  .Guerrastexto {
    grid-template-columns: 1fr;
  }
  .mainseries {
    grid-template-areas: "tituloseries" "tituloragnar" "textoragnar " "ragnar2" "ragnar3" "titulolk" "textolk" "videolk" "videolk2";
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .mainseries .ragnar {
    display: none;
  }
  .mainseries .imagenlk {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
