@use "../generales/variables" as*;


header {
  background-color: rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(2px); 
  

  .logo {
    height: 100%;
    width: auto;
    max-height: 70px;
  }

  .nav-link {
    color: $blanco;
    font-family: "Germania One";
    font-size: 2rem;
  }

  .navbar .navbar-nav .nav-link:hover {
    background-color: gray;
  }
}

footer {
  background-image: url(../medios/footer.jpg);
  height: 10vw;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;

  .whatsapp {
    height: 5vw;
    width: 5vw;
    

  }

  footer a {
    color:$blanco;
    list-style: none;
    text-decoration: none;
    font-family: "Germania One", system-ui;
    font-size: clamp(1rem, 2vw, 2rem);


  }
.spotify {
  position: fixed;
  right: 1px;
  bottom: 1px;
}
}